<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href=
      "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
  </head>
  <style>

   html,body{
    margin:0px;
    width:100%;
    height:100%;
   }

  body {
    overflow-y:hidden;
  }

  #new{
   float:right;
   color:blue;
   border-radius: 4px;
   border-style: 1px solid blue;
   font-size:1.2em;
   display:inline-block;
   margin-right:20px;
  }

    #data{
      text-align:center;
    }

    .detail{
      text-align:center;
    }

    tr:hover{
      background-color:#e5e5e5;
    }


   .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;color:white}
  </style>
  <body>


        <nav class="navbar navbar navbar-dark bg-dark" >
           <a class="navbar-brand" style="color:yellow" href="#">BUG_TRACKER</a>

           <div class="navbar-brand">
            <img src="./img/user1.png" class="profile" title="<div><h6><%=name %></h6><h6><%= email %></h6><h6><%= project %></h6></div>" data-toggle="tooltip" style="width:30px;height:30px">
            <img src="./img/out.png" onclick="logout()" style="cursor:pointer;width:30px;height:30px">
           <div>
        </nav>


        <div style="width:100%;height:100%">

          <div style="float:right;width:90%;height:100%;padding:10px;">

            <div style="position:relative">
             <div style="float:left;position:absolute;">
              <img src="./img/icon.png" style="width:50px;height:50px" />
             </div>
             <div style="float:right;position:absolute;left:55px">
              <h5>Project: <span id="heading"></span></h5>
              <h5>User:<%=name%>(<span id="post"></span>)</h5>
             </div>
           </div>

           <i class="fa fa-arrow-left" onclick="back();" style="float:right;font-size:2.5em"></i>
           <button id="new">Submit Bug </button>


                          <br/>
                          <br/>



               <div id="notify" style="display:none;margin-bottom:20px;text-align:center;background-color:green;color:white;font-size:1.2em;margin-right:auto;margin-left:auto;width:25%;"> Update Successfull </div>
               <div id="notify1" style="display:none;margin-bottom:20px;text-align:center;background-color:green;color:white;font-size:1.2em;margin-right:auto;margin-left:auto;width:25%;"> Added Successfully </div>




                <div id="bug_form" style="background-color:white;z-index:1;display:none;border-radius:3px;box-shadow:5px 5px 5px 5px grey; height:85%;width:35%;float:right;position:absolute;right:5px">


                  <div style="background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);height:7%;width:100%;float:right;position:absolute;right:0px">
                    <h4 style="margin-left:4%;margin-top:2%">New Bug</h4>
                  </div>

                  <div style="overflow-y:scroll; background-color:white;height:92%;width:100%;float:right;position:absolute;top:10%;right:0px;padding:20px">

                      <form id="bug">

                      <label for="title" style="font-size:1em">Bug Title</label>
                      <br/>
                      <input type="text" title="title" id="title" name="title" style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">

                      <br/>
                      <br/>

                      <label for="overview" style="font-size:1em">Description</label>
                      <textarea name="overview" id="overview"   style="height:150px;width:100%"></textarea>

                      <br/>
                      <br/>

                      <label for="assign_to" style="font-size:1em">Assign To</label>
                      <br/>
                      <select type="text" title="assign_to" id="assign_to" name="assign_to" style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">

                      </select>
                      <br/>
                      <br/>

                      <label for="add_follower" style="font-size:1em">Add Followers</label>
                      <br/>
                      <select type="text" title="add_follower" id="add_follower"  name="add_follower" style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">

                      </select>
                      <br/>
                      <br/>


                      <div style="padding-left:20px;padding-right:20px;width:100%;height:60px;border:5px solid grey;text-align:center;line-height:3;cursor:pointer">
                        <p style="float:left">Drop files or Add attachment</p>
                        <label for="file" style="text-align:center;color:blue;float:right">Click</label>
                        <input type="file" title="file" name="file" id="file" style="visibility:hidden;">
                        <br/>
                      </div>



                      <br/>
                      <br/>

                      <h6 style="color:blue">Bug Info</h6>
                      <hr/>


                      <label for="tag" style="font-size:1em">Tags</label>
                      <br/>
                      <input type="text" title="tag" id="tag" name="tag"  style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">


                      <br/>
                      <br/>


                      <div style="float:left;width:43%">
                        <label for="date" style="font-size:1em">Due Date</label>
                        <br/>
                        <input type="date" title="DUE_DATE" id="date"  name="date" style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">
                      </div>


                      <div style="float:right;width:43%">
                      <label for="severity" style="font-size:1em">Severity</label>
                      <br/>
                      <select type="text" title="severity" id="severity" name="severity" style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">
                       <option selected>None</option>
                       <option>Show Stopper</option>
                       <option>Critical</option>
                       <option>Major</option>
                       <option>Minor</option>
                      </select>
                      </div>

                      <br/>
                      <br/>
                      <br/>
                      <br/>

                      <div style="float:left;width:43%">
                        <label for="release" style="font-size:1em">Release Milestones</label>
                        <br/>
                        <select type="text" title="Release Milestone"  id="release" name="release" style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">
                        </select>
                      </div>

                      <div style="float:right;width:43%">
                       <label for="affect" style="font-size:1em">Affected Milestones</label>
                       <br/>
                       <select type="text" title="Affected Milestones"  id="affect" name="affect" style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">
                       </select>
                      </div>

                      <br/>
                      <br/>
                      <br/>
                      <br/>

                      <div style="float:left;width:43%">
                        <label for="classify" style="font-size:1em">Classiication</label>
                        <br/>
                        <select type="text" title="classiication" id="classify" name="classify" style="border-radius:5px;width:100%;font-size:1em;border-color:#D3D3D3">
                        <option selected>None</option>
                        <option>Security</option>
                        <option>Data Loss</option>
                        <option>Crash/Hang</option>
                        <option>Performance</option>
                        <option>UI/Usibility</option>
                        <option>Enhancement</option>
                        <option>Other Bug</option>
                        </select>
                      </div>


                      <div style="float:right;width:43%">
                      <label for="reproducible" style="font-size:1em">Reproducible</label>
                      <br/>
                      <select type="text" title="Reproducible" id="reproducible" name="reproducible" style="border-radius:5px;width:100%;font-size:1  em;border-color:#D3D3D3">
                        <option selected>None</option>
                        <option>Always</option>
                        <option>Sometime</option>
                        <option>Rarely</option>
                        <option>Unable</option>
                        <option>Never Tried</option>
                        <option>Not Applicable</option>
                        <option>Other Bug</option>
                      </select>
                      </div>

                     <br/>
                     <br/>
                     <br/>
                     <br/>

                   <div style="position:fixed;bottom:0">
                     <input type="submit" id="submit"  value="Add" class="btn btn-primary"   style="margin-right:10px">
                     <input type="submit" id="submit1" style="display:none" value="Update" class="btn btn-primary"   style="margin-right:20px">
                     <p class="btn btn-light" id="cancel" onclick="clear()" style="border-color:grey;margin-top:12px;" >Cancel</p>
                   </div>
                    </form>

                  </div>

                </div>

                <br/>
                <br/>


              <table id="myTable" style="width:90%;margin-left:auto;margin-right:auto;border-collapse: separate;
                border-spacing: 0 1em;">
               <tr style="text-align:center;cursor:pointer;background-color:#d3d3d3">
                <th id="data"><img src="./img/img.jpg" style="width:20px;height:20px"></th>
                <th id="data">BUG</th>
                <th id="data">REPORTER</th>
                <th id="data">CREATED</th>
                <th id="data">STATUS</th>
                <th id="data">TAGS</th>
                <th id="data">ASSIGNN</th>
                <th id="data">DUE DATE</th>
                <th id="data">SEVERITY</th>
              </tr>
              <%- include('partials/detail') %>
             </table>
          </div>



              <div style="float:left;width:10%;height:102.5%;background-color:#212529;padding-top:20px;padding-left:15px">
                <i class="fa fa-bar-chart" style="color:yellow;font-size:1.5em">    <a class="link" href="/dashboard" style="text-decoration:none;color:white">Dashboard</a></i>
                <br/>
                <br/>
                <i class='fa fa-bug' style="color:yellow;font-size:1.5em">      <a class="link" href="/bug" style="text-decoration:none;color:white">Bug</a></i>
                <br/>
                <br/>
                <i class='fas fa-calendar-alt' style="color:yellow;font-size:1.5em">   <a class="link" href="/calender1" style="text-decoration:none;color:white">Calender</a></i>
                <br/>
                <br/>
                <i class='fas fa-flag' style="color:yellow;font-size:1.5em">   <a class="link" href="/milestone" style="text-decoration:none;color:white">Milestone</a></i>
                <br/>
                <br/>
                <i class="fa fa-edit" style="color:yellow;font-size:1.5em">   <a class="link" href="/event" style="text-decoration:none;color:white">Events</a></i>
                <br/>
                <br/>
                <i class="fa fa-user" style="color:yellow;font-size:1.5em">   <a class="link" href="/user" style="text-decoration:none;color:white">Add Users</a></i>
                <br/>
                <br/>
              </div>


        </div>



  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
    <script type = "text/javascript"
     src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
   </script>

  <script type = "text/javascript"
     src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
  </script>

    <script src="bug.js">
    </script>



 </body>
</html>
